<ion-header>
    <ion-navbar color="primary">
      <ion-title>Sing In</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content>
    <form [formGroup]="myForm" (ngSubmit)="saveData()">
      <ion-list>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label stacked>Name:</ion-label>
          <ion-input formControlName="name" type="text" placeholder="name"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('name').hasError('required')">Field is required</p>
          <p color="danger" ion-text *ngIf="myForm.get('name').hasError('minlength')">Min of 5 characters</p>
          <p color="danger" ion-text *ngIf="myForm.get('name').hasError('maxlength')">Max of 15 characters</p>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label stacked>Surnames:</ion-label>
          <ion-input formControlName="surname" type="text" placeholder="surname"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('surname').errors && myForm.get('surname').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('surname').hasError('required')">Field is required</p>
          <p color="danger" ion-text *ngIf="myForm.get('surname').hasError('minlength')">Min of 5 characters</p>
          <p color="danger" ion-text *ngIf="myForm.get('surname').hasError('maxlength')">Max of 15 characters</p>          
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" item-start></ion-icon>
          <ion-label stacked>Birthdate:</ion-label>
          <ion-datetime formControlName="dateBirth" displayFormat="MM-DD-YYYY" placeholder="MM-DD-YYY"></ion-datetime>
        </ion-item>
        <ion-row radio-group formControlName="gender">
          <ion-col>
            <ion-item>
              <ion-icon name="woman" item-start></ion-icon>
              <ion-label>Woman</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon name="man" item-start></ion-icon>
              <ion-label>Man</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label stacked>Address:</ion-label>
          <ion-input formControlName="address" type="text" placeholder="address"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('address').errors && myForm.get('address').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('address').hasError('required')">Field is required</p>
          <p color="danger" ion-text *ngIf="myForm.get('address').hasError('minlength')">Min of 20 characters</p>
          <p color="danger" ion-text *ngIf="myForm.get('address').hasError('maxlength')">Max of 50 characters</p> 
        </ion-item>
        <ion-item>
          <ion-icon name="mail" item-start></ion-icon>
          <ion-label stacked>Email:</ion-label>
          <ion-input formControlName="email" type="email" placeholder="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">Field is required</p>
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">It is not an email</p>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-start></ion-icon>
          <ion-label stacked>Username:</ion-label>
          <ion-input formControlName="username" type="text" placeholder="username"></ion-input>
        </ion-item>
        <ion-item *ngIf="myForm.get('username').errors && myForm.get('username').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('username').hasError('required')">Field is required</p>
          <p color="danger" ion-text *ngIf="myForm.get('username').hasError('minlength')">Min of 5 characters</p>
          <p color="danger" ion-text *ngIf="myForm.get('username').hasError('maxlength')">Max of 15 characters</p>
        </ion-item>
          <ion-item>
            <ion-icon name="eye" item-start></ion-icon>
            <ion-label stacked>Password:</ion-label>
            <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
            <p color="danger" ion-text *ngIf="myForm.get('password').hasError('required')">Field is required</p>
            <p color="danger" ion-text *ngIf="myForm.get('password').hasError('pattern')">It is not a strong password</p>
          </ion-item>
      </ion-list>
      <div padding>
        <button ion-button block type="submit" [disabled]="!myForm.valid" (click)="save()">Save</button>
      </div>
    </form>

  </ion-content>
  
