page-home-productos {
    ion-slides{
        background-color: white !important;
    }

    ion-item{
        height: 250px;
    }

    .imagen{
        height: 200px;
        width: 200px;
    }

}
