#jumbo{
  background-color: transparent;
  color: white;
  margin: auto;
  font-size: 90px;
  font-style: oblique;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.precio{
  color: red;
}

.nombre{
  color: white;
}

#jumbotron{
    background-image: url("../img/inicio1.png");
}

#historiaTatuaje{
  font-style: oblique;
  color: white;
  background-color: transparent;
}

#jumbo-contacta{
  background-color: black;
  color: transparent;
}

#fondoContacta{
  background-image: url("../img/fondoContacta.jpg");
}

#titulo-contacta{
  background-color: transparent;
  color: white;
  font-style: oblique;
}

#titulo-galeria{
  background-color: transparent;
  color: white;
  font-style: oblique;
}

#roshi-ensei {
  width: 100%;
  height: auto;

}

#historia1{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#historia2{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#myScrollspy{
    position: relative;
}

#fuente1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;

}

#fuente2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#fuente3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#fuente4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#fuente5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#lectores1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#lectores2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#lectores3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#lectores4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#lectores5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ram1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ram2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ram3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ram4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ram5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaamd1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaamd2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaamd3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaamd4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaamd5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaintel1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaintel2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaintel3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaintel4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#placaintel5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceamd1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceamd2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceamd3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceamd4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceamd5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceintel1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceintel2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceintel3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceintel4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#proceintel5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetagraf1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetagraf2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetagraf3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetagraf4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetagraf5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetasonido1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetasonido2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetasonido3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetasonido4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#tarjetasonido5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#torres1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#torres2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#torres3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#torres4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ventiladores1{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ventiladores2{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ventiladores3{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ventiladores4{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

#ventiladores5{
  width: 350px;
  height: auto;
  border-color: red;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 20px;
}

body{
  background-color: black;
  color: transparent;
}

h2{
  color: white;
  background-color: transparent;
  font-style: oblique;
}

p{
  color: grey;
  background-color: transparent;
}

th{
  color: white;
  background-color: transparent;
}

td{
  color: grey;
  background-color: transparent;
}

h1{
  color: white;
  background-color: transparent;
  font-style: oblique;
}

h4{
  color: grey;
  background-color: transparent;
}

label{
  color: white;
  background-color: transparent;
}

#jumbo-galeria{
    background-color: white;
    color: transparent;
}

#gt1{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt2{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt3{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt4{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt5{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt6{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt7{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt8{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt9{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt10{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt11{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt12{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt13{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt14{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt15{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt16{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt17{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt18{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt19{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt20{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt21{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt22{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt23{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#gt24{
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#mgt1{
  width: 100%;
  height: auto;
}

#mgt2{
  width: 100%;
  height: auto;
}

#mgt3{
  width: 100%;
  height: auto;
}

#mgt4{
  width: 100%;
  height: auto;
}

#mgt5{
  width: 100%;
  height: auto;
}

#mgt6{
  width: 100%;
  height: auto;
}

#mgt7{
  width: 100%;
  height: auto;
}

#mgt8{
  width: 100%;
  height: auto;
}

#mgt9{
  width: 100%;
  height: auto;
}

#mgt10{
  width: 100%;
  height: auto;
}

#mgt11{
  width: 100%;
  height: auto;
}

#mgt12{
  width: 100%;
  height: auto;
}

#m2gt1{
  width: 100%;
  height: auto;
}

#m2gt2{
  width: 100%;
  height: auto;
}

#m2gt3{
  width: 100%;
  height: auto;
}

#m2gt4{
  width: 100%;
  height: auto;
}

#m2gt5{
  width: 100%;
  height: auto;
}

#m2gt6{
  width: 100%;
  height: auto;
}

#m2gt7{
  width: 100%;
  height: auto;
}

#m2gt8{
  width: 100%;
  height: auto;
}

#m2gt9{
  width: 100%;
  height: auto;
}

#m2gt10{
  width: 100%;
  height: auto;
}

#m2gt11{
  width: 100%;
  height: auto;
}

#m2gt12{
  width: 100%;
  height: auto;
}

#bgt1{
  margin-bottom: 10px;
}

#bgt2{
  margin-bottom: 10px;
}

#bgt3{
  margin-bottom: 10px;
}

#bgt4{
  margin-bottom: 10px;
}

#bgt5{
  margin-bottom: 10px;
}

#bgt6{
  margin-bottom: 10px;
}

#bgt7{
  margin-bottom: 10px;
}

#bgt8{
  margin-bottom: 10px;
}

#bgt9{
  margin-bottom: 10px;
}

#bgt10{
  margin-bottom: 10px;
}

#bgt11{
  margin-bottom: 10px;
}

#bgt12{
  margin-bottom: 10px;
}

#bgt13{
  margin-bottom: 10px;
}

#bgt14{
  margin-bottom: 10px;
}

#bgt15{
  margin-bottom: 10px;
}

#bgt16{
  margin-bottom: 10px;
}

#bgt17{
  margin-bottom: 10px;
}

#bgt18{
  margin-bottom: 10px;
}

#bgt19{
  margin-bottom: 10px;
}

#bgt20{
  margin-bottom: 10px;
}

#bgt21{
  margin-bottom: 10px;
}

#bgt22{
  margin-bottom: 10px;
}

#bgt23{
  margin-bottom: 10px;
}

#bgt24{
  margin-bottom: 10px;
}

#carrousel1{
  width: 1200px;
  height: 600px;

}

#carrousel2{
  width: 1200px;
  height: 600px;
}

#carrousel3{
  width: 1200px;
  height: 600px;
}

.dropdown-item{
  color: grey;
  background-color: transparent;
}
